{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {% if is_edit %}
    Сохранить пост
  {% else %}
    Добавить пост
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %}
              Редактировать запись
            {% else %}
              Добавить запись
            {% endif %}
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data"
                    {% if is_edit %}
                  action="{% url 'posts:post_edit' post_id %}"
                    {% else %}
                  action="{% url 'posts:post_create' %}"
                    {% endif %}>
              {% csrf_token %}
              <div>
                <div class="form-group mb-2"> {{ form.text.label_tag }}
                  <div>{{ form.text|addclass:"form-control"  }}</div>
                </div>
                <div> {{ form.group.label_tag }}
                  <div>{{ form.group }}</div>
                </div>
                <div> {{ form.image.label_tag }}
                  <div>{{ form.image }}</div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}